# docker compose file with mongodb version 6
version: "3"

services:
  mongodb:
    image: mongo:6
    ports:
      - 27017:27017
    volumes:
      - mongodb_data:/data/db
    

volumes:
  mongodb_data:
