:root {
  --hemo-color-primary: #bb0a08;
  --hemo-color-primary-dark: #8a0000;
  --hemo-color-primary-light: #FF6262;
  --hemo-color-secondary: #f2f2f2;
  --hemo-color-success: #2ac769;
  --hemo-color-warn: #f6a609;
  --hemo-color-text-secondary: #25282B;
  --hemo-color-text-secondary-opaque: rgba(37, 40, 43, 0.2) ;
  --hemo-color-text-primary: #f2f2f2;
  --el-color-primary: var(--hemo-color-primary) !important;
  --el-color-main: var(--hemo-color-secondary) !important;
  --el-color-success: var(--hemo-color-success) !important;
  --el-color-warning: var(--hemo-color-warn) !important;
  --el-color-danger: var(--hemo-color-warn) !important;
  --el-color-info: var(--hemo-color-primary) !important;
  --el-color-text-primary: var(--hemo-color-text-primary) !important;
  --el-color-text-secondary: var(--hemo-color-text-secondary) !important;
  --el-border-color-light: var(--hemo-color-primary-dark) !important;
}

.el-tabs__header {
  margin: 0 !important;
}


html,
body {
  background-color: var(--hemo-color-primary);
  color: var(--hemo-color-secondary);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family:
    "Roboto",
    monospace,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif;
}

#__nuxt {
  width: 100%;
  min-height: 100dvh;
}


body {
  min-height: 100dvh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

a {
  all: unset;
}

