$color-primary: #cc151a;
$color-secondary: #f3f2f1;
$color-success: #2ac769;
$color-warn: #f6a609;

@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "white": $color-secondary,
    "primary": (
      "base": $color-primary,
    ),
    "black": #000000,
    "success": (
      "base": $color-success,
    ),
    "warning": (
      "base": $color-warn,
    ),
    "danger": (
      "base": $color-warn,
    ),
    "error": (
      "base": $color-warn,
    ),
    "info": (
      "base": $color-primary,
    ),
  )
);
